.loginPage {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-image: url('../images/img.jpg'); /* Ajoutez votre image en background */
    background-size: cover; /* ou contain selon votre préférence */
    background-position: center; /* Centrez l'image */
  }
  
  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 10;
    /* Définissez une largeur fixe initiale (ajustez selon vos besoins) */
    width: 500px;
    /* Assurez-vous que la largeur ne dépasse pas la largeur de la fenêtre */
    max-width: 90vw; /* Ou une autre valeur appropriée */
    /* Vous pouvez également définir une hauteur fixe et une max-height si nécessaire */
    /* height: 600px; */
    /* max-height: 90vh; */
    margin-right: 0;
  }
  
  .logoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .logo {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .brandName {
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
  
  .loginForm {
    width: 455px; /* Augmentez la largeur du formulaire selon vos besoins */
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  .label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
  }
  
  .input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .rememberForgotPassword {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .rememberMe {
    color: #555;
  }
  
  .forgotPassword {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
  }
  
  .forgotPassword:hover {
    text-decoration: underline;
  }
  
  .loginButton {
    width: 100%;
    padding: 14px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .loginButton:hover {
    background-color: #3531a0;
  }
  
  .error {
    color: red;
    margin-top: 10px;
    font-size: 14px;
  }
  
  /* Suppression des styles pour .background et .backgroundImage */
  
  .formTitle {
    font-size: 2em;
    font-weight: 600;
    color: #555;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .authSwitch {
    text-align: center;
    margin-top: 20px;
  }
  
  .authLink {
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
  }
  
  .authLink:hover {
    text-decoration: underline;
  }